body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2f00ff, #0059ff);
    color: #fff;
    text-align: center;
    padding-top: 50px;
  }
  
  .weather-app {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
  }
  
  input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 300px;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    background-color: #fff;
    color: #006eff;
    cursor: pointer;
  }
  
  #weather-result {
    margin-top: 20px;}